/* Style for body */
body {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f7f7f7;
}

/* Style for header */
header {
	background-color: #252525;
	padding: 20px;
	text-align: center;
}

h1 {
	color: #FFFFFF;
	margin: 0;
	font-size: 2.5rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/* Style for navigation */
nav {
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	padding: 10px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

li {
	margin: 0 10px;
}

a {
	color: #252525;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: #8FB7C5;
}

/* Style for main section */
main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	padding: 30px;
}

h2 {
	font-size: 2em;
	margin: 0;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #252525;
	margin-bottom: 50px;
}

ul {
	margin-top: 30px;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px;
}

li {
	border: 1px solid #CDD6D8;
	padding: 20px;
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
}

li:hover {
	transform: translateY(-10px);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

h3 {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 600;
	color: #252525;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	transition: all 0.2s ease-in-out;
}

p {
	font-size: 1.2rem;
	margin: 10px 0;
	color: #888888;
	font-weight: 400;
}

span {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 1.5rem;
	font-weight: bold;
	color: #252525;
}

/* Style for footer */
footer {
	background-color: #252525;
	padding: 10px;
	text-align: center;
	font-size: 0.8em;
	color: #FFFFFF;
}


/* Animations */
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

li:nth-child(odd) {
	animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(50%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

li:nth-child(even) {
	animation: slideUp 0.5s ease-in-out forwards;
}

@media only screen and (max-width: 768px) {
	ul {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 20px;
	}
}
